[defaults]
inventory = inventory.ini
host_key_checking = False
remote_user = dssi-2026
timeout = 60
roles_path = roles
local_tmp = /home/naza1144/work/game for dekdek/ansible/.ansible_tmp
remote_tmp = /tmp/.ansible-${USER}/tmp

[privilege_escalation]
become_method = sudo
become_user = root
